<div class="header home-header">
  <h1 >Yoin</h1>
    <i class="fas fa-bars"></i>
    <ul class="acd-menu-item">
      <li><%= link_to I18n.t('views.home'), home_senryus_path %></li>
      <li><%= link_to I18n.t('views.discover'), discover_senryus_path %></li>
      <li><%= link_to I18n.t('views.my_page'), user_path(current_user.id) %></li>
      <li><%= link_to I18n.t('views.compose'), new_senryu_path %></li>
      <li><%= link_to I18n.t('views.logout'), session_path(current_user.id), class: "logout", method: :delete %></li>
    </ul>
  </ul>
</div>
<%= render 'headers_footers/nav_bar' %>