<%# とりあえずの幅を出す #%>
<%= form_with(model: @user, local: true) do |f| %>

  <div class="decide-to-update-or-no">
    <%= link_to user_path(@user.id) do %>
      <i class="fas fa-long-arrow-alt-left">&nbsp;&nbsp;プロフィール編集</i>
    <% end %>
    <%= f.submit '完了'%>
  </div>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= @user.errors.count %>つのエラーがあります</h4>
      <ul id="error_explanation_in_edit_profile">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit-icon-field">
    <%= image_tag(@user.icon.url, class: "profile-icon") %>

    <div class="icon-preview"></div>

    <label for="select_icon">
      プロフィール写真を変更
      <%= f.file_field :icon, id: "select_icon" %>
    </label>
    
    <%= f.hidden_field :icon_cache %>
  </div>

  <div class="edit-profile-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="edit-profile-field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="edit-details">
    <a href="#" class="open-edit-details">詳細設定</a>
  </div>

  <div class="edit-details-content">
    <div class="edit-profile-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="edit-profile-field">
      <%= f.label '新しいパスワード' %>
      <%= f.password_field :password %>
    </div>
  
    <div class="edit-profile-field">
      <%= f.label '新しいパスワードの確認' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= link_to '退会する', user_path(current_user.id), method: :delete, data: { confirm: '本当に退会されますか？' } %>
  </div>
<% end %>

<script>
  $(function() {
    //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
    $("form").on("change", 'input[type="file"]', function(e) {
      var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".icon-preview");
        $original = $(".profile-icon");
      t = this; 

      // 画像ファイル以外の場合は何もしない
      if (file.type.indexOf("image") < 0) {
        return false;
      } 

      // ファイル読み込みが完了した際のイベント登録
      reader.onload = (function(file) {
        return function(e) {
          //既存のプレビューを削除
          $preview.empty();
          $original.remove();
          // .prevewの領域の中にロードした画像を表示するimageタグを追加
          $preview.append(
            $("<img>").attr({
              src: e.target.result,
              class: "icon-preview-img",
              title: file.name
            })
          );
        };
      })(file); 

      reader.readAsDataURL(file);
    });
  });
</script>