<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @senryu from being saved:</h2> 
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fiel icon-field">
    <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url %><br />
    <%= f.label :icon %><br />
    <%= f.file_field :icon, id: "select_icon" %>
    <%= f.hidden_field :icon_cache %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <% if false %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= link_to '退会する', user_path(current_user.id), method: :delete, data: { confirm: '本当に退会されますか？' } %>

<% end %>