<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @senryu from being saved:</h2> 
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fiel icon-field">
    <%= image_tag(@user.icon.url, class: "original-icon") if @user.icon && @user.icon.url %><br />
    <div class="icon-preview"></div>
    <%= f.label :icon %><br />
    <%= f.file_field :icon, id: "select_icon" %>
    <%= f.hidden_field :icon_cache %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <%# Eメールとパスワードの再設定はアコーディオンで #%>
  <% if false %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= link_to '退会する', user_path(current_user.id), method: :delete, data: { confirm: '本当に退会されますか？' } %>

<% end %>

<script>
  $(function() {
    //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
    $("form").on("change", 'input[type="file"]', function(e) {
      var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".icon-preview");
        $original = $(".original-icon");
      t = this; 

      // 画像ファイル以外の場合は何もしない
      if (file.type.indexOf("image") < 0) {
        return false;
      } 

      // ファイル読み込みが完了した際のイベント登録
      reader.onload = (function(file) {
        return function(e) {
          //既存のプレビューを削除
          $preview.empty();
          $original.remove();
          // .prevewの領域の中にロードした画像を表示するimageタグを追加
          $preview.append(
            $("<img>").attr({
              src: e.target.result,
              width: "50px",
              class: "icon-preview",
              title: file.name
            })
          );
        };
      })(file); 

      reader.readAsDataURL(file);
    });
  });
</script>