<h1><%= @user.name %>のユーザーページ</h1>
<div class="profile-img">
  <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url%><br />
</div>
<p><%= @user.bio %></p>

<p>フォロー中</p>
<%= link_to "#{@user.following.size}", following_user_path(@user.id) %>

<p>フォロワー</p>
<%= link_to "#{@user.followers.size}", followers_user_path(@user.id) %>

<p>コレクション</p>
<%= link_to "#{@user.favorite_senryus.size}", collection_user_path(@user.id) %>

<%= render partial: 'users/follow', locals: { user: @user } %>

<%# のちのち、以下は表示を制限する　とりあえず画面上で操作を行うためのリンク#%>
<%= link_to 'ログアウト', session_path(@user.id), method: :delete %>
<%= link_to 'ホーム', home_user_path(@user.id) %>
<%= link_to '投稿', new_senryu_path %>
<%= link_to '一覧', senryus_path %>
<%= link_to 'プロフィール編集', edit_user_path(@user.id) %>