<%= render 'headers_footers/user_header' %>
<div class="profile-container">
  <div class="profile-icon-wrapper">
    <%= image_tag(@user.icon.url, class: "profile-icon") %>
  </div>
  <div class="profile-content">
    <h4><%= @user.name %></h4>
    <p><%= @user.bio %></p>
  </div>
</div>
<div class="numbers-related-to-user">
  <div class="number-linked-outer">
    <%= link_to following_user_path(@user.id), class: "number-linked" do %>
      <div><%= number_to_human(@user.following.size, :units => {:hundred => "百",:thousand => "千", :million => "百万"}) %></div>
      <p>フォロー中</p>
    <% end %>
  </div>
  <div class="number-linked-outer">
    <%= link_to followers_user_path(@user.id), class: "number-linked" do %>
      <div><%= number_to_human(@user.followers.size, :units => {:hundred => "百",:thousand => "千", :million => "百万"}) %></div>
      <p>フォロワー</p>
    <% end %>
  </div>
  <div class="number-linked-outer">
    <%= link_to collection_user_path(@user.id), class: "number-linked" do %>
      <div><%= number_to_human(@user.favorite_senryus.size, :units => {:hundred => "百",:thousand => "千", :million => "百万"}) %></div>
      <p>コレクション</p>
    <% end %>
  </div>
</div>
<div class="button-in-profile-container">
  <% if current_user == @user %>
    <%= form_with(model: @user, local: true, url: edit_user_path(@user.id), method: :get) do |f| %>
      <%= f.submit 'プロフィール編集', id: "button-in-profile" %>
    <% end %>
  <% else %>
    <%= render partial: 'users/follow', locals: { user: @user } %>
  <% end %>
  </div>
<%= render 'senryus/index' %>
