<div class="timeline-container">
  <ul class="timeline">
    <% @senryus.each do |senryu| %>
      <% if senryu.user == current_user %>
        <li class="timeline-content right">
          <span class="author-name"><%= senryu.user.name %></span>
          <%= image_tag(senryu.user.icon.url, class: "timeline-profile-icon") %>
          <span id="favorites_buttons_<%= senryu.id %>", class="favorite-button">
            <%= render partial: 'favorites/favorite', locals: { senryu: senryu } %>
          </span>
          <span>&nbsp;|&nbsp;</span>
          <%= link_to senryu_path(senryu.id), class: "trash-bin",  method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <p><%= senryu.first_line %>・<%= senryu.second_line %>・<%= senryu.third_line %></p>
        </li>
      <% else %>
        <li class="timeline-content left">
          <span class="author-name"><%= senryu.user.name %></span>
          <%= image_tag(senryu.user.icon.url, class: "timeline-profile-icon") %>
          <span id="favorites_buttons_<%= senryu.id %>", class="favorite-button">
            <%= render partial: 'favorites/favorite', locals: { senryu: senryu } %>
          </span>
          <p><%= senryu.first_line %>・<%= senryu.second_line %>・<%= senryu.third_line %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>