<div class="timeline-container">
  <ul class="timeline">
    <% @senryus.each do |senryu| %>
      <% if senryu.user == current_user %>
        <li class="timeline-content right">

          <%= link_to "#{senryu.user.name}", user_path(senryu.user.id), class: "author-name" %>
          <%= image_tag(senryu.user.icon.url, class: "timeline-profile-icon") %>
          <span id="favorites_buttons_<%= senryu.id %>", class="favorite-button">
            <%= render partial: 'favorites/favorite', locals: { senryu: senryu } %>
          </span>
          <span>&nbsp;|&nbsp;</span>
          <%= link_to senryu_path(senryu.id), class: "trash-bin",  method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>

          <div class="posted-senryu">
            <p class="posted-senryu-line">
              <% 4.times do %>&nbsp;<% end %><%= senryu.first_line %>
            </p>
            <p class="posted-senryu-line">
              <% 12.times do %>&nbsp;<% end %><%= senryu.second_line %>
            </p>
            <p class="posted-senryu-line">
              <% 25.times do %>&nbsp;<% end %><%= senryu.third_line %>
            </p>
          </div>

        </li>
      <% else %>
        <li class="timeline-content left">
          
          <%= link_to "#{senryu.user.name}", user_path(senryu.user.id), class: "author-name" %>
          <%= image_tag(senryu.user.icon.url, class: "timeline-profile-icon") %>
          <span id="favorites_buttons_<%= senryu.id %>", class="favorite-button">
            <%= render partial: 'favorites/favorite', locals: { senryu: senryu } %>
          </span>
          
          <div class="posted-senryu-others">
            <p class="posted-senryu-line">
              <% 4.times do %>&nbsp;<% end %><%= senryu.first_line %>
            </p>
            <p class="posted-senryu-line">
              <% 12.times do %>&nbsp;<% end %><%= senryu.second_line %>
            </p>
            <p class="posted-senryu-line">
              <% 25.times do %>&nbsp;<% end %><%= senryu.third_line %>
            </p>
          
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>