<h4>Each line you start with...</h4>

<%
  x = first_initial
  y = second_initial
  z = third_initial
%>

<h1><%= x %>・<%= y %>・<%= z %></h1>

<%= form_with(model: @senryu, local: true) do |f| %>
  <% if @senryu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@senryu.errors.count, "error") %> prohibited this @senryu from being saved:</h2>

      <ul>
      <% @senryu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :first_initial, value: "#{x}" %>
    <span><%= x %></span><%= f.text_field :first_line %>
  </div>

  <div class="field">
    <%= f.hidden_field :second_initial, value: "#{y}" %>
    <span><%= y %></span><%= f.text_field :second_line %>
  </div>

  <div class="field">
    <%= f.hidden_field :third_initial, value: "#{z}" %>
    <span><%= z %></span><%= f.text_field :third_line %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>