<%= link_to home_senryus_path, class: "back-arrow" do %>
  <i class="fas fa-chevron-left"></i>
<% end %>

<% if @senryu_with_errors.nil? %>
  <%
    @first_initial = first_initial
    @second_initial = second_initial
    @third_initial = third_initial
  %>
<% end %>

<h6 class="create-new-intro">Each line you start with ...</h6>

<div class="three-random-initials">
  <div class="initial">
    <%= @first_initial %>
  </div>
  <div class="dot">・</div>
  <div class="initial">
    <%= @second_initial %>
  </div>
  <div class="dot">・</div>
  <div class="initial">
    <%= @third_initial %>
  </div>
</div>

<%= link_to new_senryu_path do %>
  <i class="fas fa-sync-alt refresh-initials"></i>
<% end %>

<%= form_with(model: @senryu, local: true) do |f| %>

  <% if @senryu_with_errors.present? %>
    <% if @senryu_with_errors.errors.any? %>
      <%= render 'senryus/error_messages' %>
    <% end %>
  <% end %>

  <div class="create-new-card">
    <div class="create-new-card-space"></div>
    <div class="create-new-line-field">
      <%= f.hidden_field :first_initial, value: "#{@first_initial}" %>
      <div><%= @first_initial %></div><%= f.text_field :first_line, placeholder: I18n.t('views.four_syllable') %>
    </div>
  
    <div class="create-new-line-field">
      <%= f.hidden_field :second_initial, value: "#{@second_initial}" %>
      <div><%= @second_initial %></div><%= f.text_field :second_line, placeholder: I18n.t('views.six_syllable') %>
    </div>
  
    <div class="create-new-line-field">
      <%= f.hidden_field :third_initial, value: "#{@third_initial}" %>
      <div><%= @third_initial %></div><%= f.text_field :third_line, placeholder: I18n.t('views.four_syllable') %>
    </div>
  
    <div class="compose-action">
      <%= f.submit I18n.t('views.compose') %>
    </div>
  </div>
<% end %>